@font-face {
	font-family: 'Futura LT Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Regular'), url('../assets/font/FuturaLT.woff') format('woff');
}

@font-face {
	font-family: 'Futura LT Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Bold'), url('../assets/font/FuturaLT-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Futura LT Book';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Book'), url('../assets/font/FuturaLT-Book.woff') format('woff');
}

@font-face {
	font-family: 'Futura LT Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Futura LT Heavy'), url('../assets/font/FuturaLT-Heavy.woff') format('woff');
}
