//css vars
:root {
    --color-white: #ffffff;
    --color-dark: #121212;
    --color-grey: #808080;
    --color-light-grey: #ECECEC;
    --btn-radius: 0px;
    --card-radius: 0px;
    --bullet-size: 12px;
    --max-width: 1440px;
    --padding-primary: 40px;
    --padding-secondary: 20px;
    --close-nav-speed: 800ms;
}

//grid
$col-width: 8.333vw;
$col-width-12: 100vw;
$col-width-11: 91.666vw;
$col-width-10: 83.332vw;
$col-width-9: 74.999vw;
$col-width-8: 66.666vw;
$col-width-7: 58.333vw;
$col-width-6: 50vw;
$col-width-5: 41.666vw;
$col-width-4: 33.333vw;
$col-width-3: 25vw;
$col-width-2: 16.666vw;
$col-gutter: 4.166vw;
$col-gutter-half: 2.083vw;

// $col-width: 8.333%
// $col-width-6:

//layout
$header-height: 81px;
$header-height-mobile: 60px;

//main colors
$white: var(--color-white);
$dark: var(--color-dark);
$grey: var(--color-grey);
$light-grey: var(--color-light-grey);

//font
$font-size: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;

//buttons
$btn-radius: var(--btn-radius);
$card-radius: var(--card-radius);
$bullet-size: var(--bullet-size);

//animations
$expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$smooth: cubic-bezier(0, 0.97, 0.43, 1);