.box {
	.text {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.text--big {
		font-size: 1.6rem;
		line-height: 1.6;
	}

	.quote {
		font-size: 1.4rem;
		line-height: 1.5;

		@include xs-down {
			text-align: center;
		}
	}

	.h2+.text,
	.h2+.box__appear {
		margin-top: 46px;

		@include md-down {
			margin-top: 30px;
		}
	}

	.text+.quote {
		margin-top: 100px;

		@include md-down {
			margin-top: 40px;
		}
	}

	.quote+.cta {
		margin-top: 80px;

		@include md-down {
			margin-top: 30px;
		}
	}

	.text+.cta {
		margin-top: 60px;
	}
}

.box--title {
	margin-bottom: 72px;
	text-align: center;

	@include sm-down {
		text-align: left;
		margin-bottom: 30px;
	}
}
