.box {
    .text {

        p {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $dark;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                transform-origin: left;
                width: 100%;
                height: 2px;
                background: $dark;
                transition: all .6s $smooth;
            }

            &:hover {
                &:after {
                    left: auto;
                    right: 0;
                    width: 0;
                }
            }
        }

        strong, b {
            font-weight: 400;
        }
    }

    .text--big {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    blockquote,
    .quote {
        font-size: 2.5rem;
        line-height: 1.5;

        @include xs-down {
            text-align: center;
        }
    }

    blockquote {
        line-height: 1.6;
        
        @include sm-down {
            text-align: left;
            font-size: 2rem;
        }

        @include xs-down {
            font-size: 1.5rem;
        }
    }

    blockquote+p {
        margin-top: 70px;

        @include md-down {
            margin-top: 40px;
        }
    }

    .h2+.text,
    .h2+.box__appear {
        margin-top: 46px;

        @include md-down {
            margin-top: 30px;
        }
    }

    .text+.quote {
        margin-top: 50px;

        @include md-down {
            margin-top: 20px;
        }
    }

    .quote+.cta {
        margin-top: 80px;

        @include md-down {
            margin-top: 30px;
        }
    }

    .text+.cta {
        margin-top: 60px;
    }
}

.box--title {
    margin-bottom: 72px;
    text-align: center;

    @include sm-down {
        text-align: left;
        margin-bottom: 30px;
    }
}
