@import "../mixins";

.fancy-detail {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: row;

    @include sm-down {
        display: block;
        position: static;
        padding-bottom: $header-height-mobile;
    }

    .fancy-detail__content {
        position: relative;
        z-index: 1;
        left: 25vw;
        width: 75vw;
        background: $white;


        @include lg-down {
            left: 35vw;
            width: 65vw;
        }

        @include sm-down {
            left: auto;
            width: 100%;
        }
    }

    .fancy-detail__wrapper {
        padding: $col-gutter-half $col-gutter-half 0 $col-gutter-half;

        @include sm-down {
            padding: $col-gutter-half;
        }
    }

    .fancy-detail__footer {

        .editorial {
            border-top: 2px solid $dark;
            padding-bottom: 0;
        }
    }

    .editorial {
        padding-bottom: $col-gutter-half;
    }

    .editorial__1col-full-img,
    .editorial__1col-full-img-caption--left {

        .picture {
            // @include aspect-clip(3, 2, 0.15);
            @include aspect-clip(1400, 899);
        }
    }


    .editorial__2col-img {

        .editorial__box-picture {
            padding: 0 #{$col-gutter-half / 2};
        }

        .editorial__wrapper {
            margin: 0 -#{$col-gutter-half / 2};
        }

        .editorial__box-content {
            padding: 0;
        }

        .editorial__caption {
            padding: 0 #{$col-gutter-half / 2};
            margin-top: $col-gutter-half;
        }
    }

    .archive {

        .listing--grid-2,
        .listing--grid-4 {
            margin: 0 -#{$col-gutter-half / 2};

            @include xs-down {
                margin: 0;
            }
        }

        .listing__item {
            padding: 0 #{$col-gutter-half / 2};

            .picture+.box {
                margin-top: 20px;
            }

            .box {
                .h3 {
                    font-size: 1.2rem;
                }

                .text {
                    margin-top: 10px;

                    p {
                        margin-bottom: 0;
                        font-size: 0.8rem;
                        line-height: 1.5;
                    }
                }
            }
        }

        .container--big {
            padding: 0;
            margin: 0;
            max-width: 100%;
        }
    }

    &.fancy-detail--variant {

        .box--title {
            margin-bottom: 50px;

            .eyelet {
                text-transform: uppercase;
                @include font($style:medium);
                font-size: 0.7rem;
            }
        }

        .editorial {
            padding-bottom: 80px;

            @include sm-down {
                padding-bottom: 50px;
            }

            &>div {
                margin-bottom: 0;
            }
        }

        .archive {
            margin-bottom: 80px;

            @include sm-down {
                margin-bottom: 50px;
            }
        }

        .fancy-detail__footer {
            .editorial {
                padding-bottom: 0;
            }
        }
    }
}

.fancy-detail__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: $dark;

    @include lg-down {
        width: 35vw;
    }

    @include sm-down {
        position: static;
        top: auto;
        left: auto;
        width: 100vw;
        height: auto;
    }

    &.fancy-detail__sidebar--white {
        background: $white;
        border-right: 2px solid $dark;

        @include sm-down {
            border: 0;
        }

        .fancy-detail__sidebar-header .fancy-detail__close svg {
            fill: $dark;
        }

        .fancy-detail__sidebar-content {
            &>.box {
                color: $dark;
            }
        }
    }

    &.fancy-detail__sidebar--variant {

        .fancy-detail__sidebar-content {
            .h1 {
                margin-bottom: 40px;

                @include sm-down {
                    margin-bottom: 20px;
                }
            }
        }

        .fancy-detail__panel-header .box {
            span {
                text-align: center;
                width: 100%;
            }
        }

        .scrollto__controls {

            @include sm-down {
                display: none;
            }

            .scrollto__controls-item {
                @include font($style:medium);
                font-size: 0.9rem;
                color: $grey;
                margin-bottom: 20px;
                line-height: 1.2;
                cursor: pointer;
                transition: color .6s $smooth;

                @include sm-down {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                &.active {
                    @include font($style:medium);
                    color: $dark;
                }
            }
        }
    }
}

.fancy-detail__sidebar-header {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm-down {
        position: relative;
    }

    .fancy-detail__close {
        width: 40px;
        height: 40px;
        text-align: center;
        overflow: hidden;

        @include sm-down {
            width: 35px;
            height: 35px;
        }

        svg {
            width: 25px;
            height: 25px;
            transition: fill .6s $smooth;
            fill: $white;

            @include sm-down {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.fancy-detail__sidebar-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include sm-down {
        transform: none;
        top: auto;
        position: static;
    }

    &>.box {
        color: $white;
        text-align: center;

        @include sm-down {
            padding: $col-width 0;
        }

        &>.h3 {
            font-size: 1.9rem;
            margin-bottom: 60px;

            @include sm-down {
                margin-bottom: $col-gutter;
            }
        }

        .text {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 1.1rem;
            }
        }
    }
}

.fancy-detail__panel {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    background: $dark;
    transition: all .6s $smooth;
    cursor: pointer;

    @include sm-down {
        height: $header-height-mobile;
        position: fixed;
    }

    &.fancy-detail__panel--white {
        background: $white;

        &:after {
            background: $dark;
        }

        .fancy-detail__panel-header .box {
            color: $dark;
        }

        .fancy-detail__panel-header .box .fancy-detail__icon svg {
            fill: $dark;
        }

        .fancy-detail__panel-content .box {
            color: $dark;
        }
    }

    &.fancy-detail__panel--variant {
        .fancy-detail__panel-header {
            span {
                width: 100%;
                text-align: center;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $white;
    }

    .fancy-detail__panel-header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: $header-height;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include sm-down {
            height: $header-height-mobile;
        }

        .box {
            @include font($style:heavy);
            font-size: 0.7rem;
            color: $white;
            text-transform: uppercase;
            padding: 0 $col-gutter;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            line-height: 1;

            .fancy-detail__icon {
                width: 16px;
                height: 16px;
                overflow: hidden;
                position: relative;

                @include sm-down {
                    width: 12px;
                    height: 12px;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    transition: all .3s ease-in-out .2s;
                    fill: $white;
                    position: absolute;
                    left: 0;

                    &.ico--less {
                        top: -16px;
                    }

                    &.ico--more {
                        top: 0;
                    }

                    @include sm-down {
                        width: 12px;
                        height: 12px;

                        &.ico--less {
                            top: -12px;
                        }
                    }
                }
            }
        }
    }

    .fancy-detail__panel-wrapper {
        overflow-y: auto;
    }

    .fancy-detail__panel-content {
        width: 100%;
        height: calc(100vh - #{$header-height});
        height: calc(calc(var(--vh, 1vh) * 100) - #{$header-height});
        position: relative;
        top: $header-height;

        @include sm-down {
            height: calc(100vh - #{$header-height-mobile});
            height: calc(calc(var(--vh, 1vh) * 100) - #{$header-height-mobile});
            top: $header-height-mobile;
        }

        img {
            opacity: 1;
        }

        .box {
            color: $white;
        }

        .picture {
            @include aspect-clip(880, 550, 0);
        }

        .listing .picture+.box {
            @include sm-down {
                margin-top: 40px;
            }
        }

        .listing {
            text-align: center;
            transform: translateY(80px);
            transition: transform .6s $smooth .1s;
            padding: 0 $col-gutter $col-gutter-half $col-gutter;
            height: calc(100vh - #{$header-height});
            height: calc(calc(var(--vh, 1vh) * 100) - #{$header-height});
            overflow-y: auto;

            @include sm-down {
                display: flex;
                padding: 0 $col-width $col-width $col-width;
            }

            .listing__item {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .picture {

                .picture__container {
                    transform: scale(1) translate(0, 0);

                    img {
                        opacity: 1;
                    }
                }
            }

            .picture+.box {
                margin-top: 15px;
            }
        }
    }
}

body.fancy-detail-panel-open {

    .fancy-detail__panel {
        height: calc(100vh + 2px);
        height: calc(calc(var(--vh, 1vh) * 100) + 2px);

        @include sm-down {
            overflow: auto;
        }
    }

    .fancy-detail__panel .fancy-detail__panel-header .box .fancy-detail__icon svg.ico--less {
        top: 0;
    }

    .fancy-detail__panel .fancy-detail__panel-header .box .fancy-detail__icon svg.ico--more {
        top: 16px;

        @include sm-down {
            top: 12px;
        }
    }

    .fancy-detail__panel-content {
        .listing {
            transform: translateY(0);
        }
    }
}