@import "../mixins";

.fancy-detail {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: row;

    @include sm-down {
        display: block;
        position: static;
    }

    @include xs-down {
        padding-bottom: $col-width;
    }

    @include xxs-down {
        padding-bottom: $col-width-2;
    }

    .fancy-detail__content {
        position: relative;
        z-index: 1;
        left: 25vw;
        width: 75vw;
        background: $white;
        padding: $col-gutter-quarter $col-gutter-quarter 0 $col-gutter-quarter;

        @include lg-down {
            left: 35vw;
            width: 65vw;
        }

        @include sm-down {
            left: auto;
            width: 100%;
            padding: $col-gutter-quarter $col-gutter-quarter $col-width $col-gutter-quarter
        }
    }

    .editorial {
        padding-bottom: $col-gutter-quarter;
    }

    .editorial__1col-full-img {

        .picture {
            @include aspect-clip(3, 2);
        }
    }

    .editorial__2col-img {

        .editorial__box-picture {
            padding: 0 #{$col-gutter-quarter / 2};
        }

        .editorial__wrapper {
            margin: 0 -#{$col-gutter-quarter / 2};
        }
    }
}

.fancy-detail__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    background: $dark;

    @include lg-down {
        width: 35vw;
    }

    @include sm-down {
        position: static;
        top: auto;
        left: auto;
        width: 100vw;
        height: auto;
    }

    &.fancy-detail__sidebar--white {
        background: $white;
        border-right: 2px solid $dark;

        @include sm-down {
            border: 0;
        }

        .fancy-detail__sidebar-header .fancy-detail__close svg {
            fill: $dark;
        }

        .fancy-detail__sidebar-content {
            &>.box {
                color: $dark;
            }
        }
    }
}

.fancy-detail__sidebar-header {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm-down {
        position: relative;
    }

    .fancy-detail__close {
        width: 40px;
        height: 40px;
        text-align: center;
        overflow: hidden;

        @include sm-down {
            width: 35px;
            height: 35px;
        }

        svg {
            width: 25px;
            height: 25px;
            transition: fill .6s $smooth;
            fill: $white;

            @include sm-down {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.fancy-detail__sidebar-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include sm-down {
        transform: none;
        top: auto;
        position: static;
    }

    &>.box {
        color: $white;
        text-align: center;

        @include sm-down {
            padding: $col-gutter 0;
        }

        &>.h3 {
            font-size: 1.9rem;
            margin-bottom: 60px;

            @include sm-down {
                margin-bottom: $col-gutter;
            }
        }

        .text {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 1.1rem;
            }
        }
    }
}

.fancy-detail__panel {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    background: $dark;
    transition: all .6s $smooth;

    @include sm-down {
        height: $header-height-mobile;
        position: fixed;
    }

    &.fancy-detail__panel--white {
        background: $white;

        &:after {
            background: $dark;
        }

        .fancy-detail__panel-header .box {
            color: $dark;
        }

        .fancy-detail__panel-header .box .fancy-detail__icon svg {
            fill: $dark;
        }

        .fancy-detail__panel-content .box {
            color: $dark;
        }
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $white;
    }

    .fancy-detail__panel-header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: $header-height;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include sm-down {
            height: $header-height-mobile;
        }

        .box {
            @include font($style:heavy);
            font-size: 0.7rem;
            color: $white;
            text-transform: uppercase;
            padding: 0 $col-gutter;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            line-height: 1;

            .fancy-detail__icon {
                width: 16px;
                height: 16px;
                overflow: hidden;
                position: relative;

                @include sm-down {
                    width: 12px;
                    height: 12px;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    transition: all .3s ease-in-out .2s;
                    fill: $white;
                    position: absolute;
                    left: 0;

                    &.ico--less {
                        top: -16px;
                    }

                    &.ico--more {
                        top: 0;
                    }

                    @include sm-down {
                        width: 12px;
                        height: 12px;

                        &.ico--less {
                            top: -12px;
                        }
                    }
                }
            }
        }
    }

    .fancy-detail__panel-content {
        width: 100%;
        height: calc(100vh - #{$header-height});
        padding: 0 $col-gutter;
        position: relative;
        top: $header-height;

        @include sm-down {
            height: calc(100vh - #{$header-height-mobile});
            top: $header-height-mobile;
        }

        img {
            opacity: 1;
        }

        .box {
            color: $white;
        }

        .listing .picture+.box {
            @include sm-down {
                margin-top: 40px;
            }
        }

        .listing {
            text-align: center;
            transform: translateY(80px);
            transition: transform .6s $smooth .1s;

            @include sm-down {
                display: flex;
                padding: 0 $col-width $col-width $col-width;
            }

            .listing__item {
                width: 100%;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

body.fancy-detail-panel-open {

    .fancy-detail__panel {
        height: calc(100vh + 2px);

        @include sm-down {
            overflow: auto;
        }
    }

    .fancy-detail__panel .fancy-detail__panel-header .box .fancy-detail__icon svg.ico--less {
        top: 0;
    }

    .fancy-detail__panel .fancy-detail__panel-header .box .fancy-detail__icon svg.ico--more {
        top: 16px;

        @include sm-down {
            top: 12px;
        }
    }

    .fancy-detail__panel-content {
        .listing {
            transform: translateY(0);
        }
    }
}