@import "../mixins";

.filters {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: $header-height;
    background: white;

    @include sm-down {
        height: $header-height-mobile;
    }

    &:after {
        position: absolute;
        content: '';
        background: $dark;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 1;
        transition: background .1s ease-in-out .6s;
    }

    &:before {
        position: absolute;
        content: '';
        background: $dark;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 2;
        display: none;
    }

    .container--big {
        height: 100%;
    }

    &>.container--big {
        @include xs-down {
            max-width: 100vw;
        }
    }

    .filters__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .filters__primary {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span.eyelet {
            @include font($style:heavy);
            color: #808080;
            text-transform: uppercase;
            font-size: 0.6rem;
            text-transform: uppercase;
            margin-right: 20px;
            display: block;

            @include xs-down {
                display: none;
            }
        }

    }

    .filters__secondary {

        @include sm-down {
            display: none;
        }

        span {
            @include font($style:heavy);
            color: #808080;
            text-transform: uppercase;
            font-size: 0.6rem;
            text-transform: uppercase;
            margin-right: 20px;
        }

        button {

            svg {
                width: 10px;
                height: 10px;
                margin-left: 10px;
                fill: #808080;
            }

            &.active {
                svg {
                    fill: $dark;
                }
            }
        }
    }
}

.filters--centered {

    .filters__wrapper {
        justify-content: center;

        @include sm-down {
            overflow-x: auto;
            padding: 0 $col-gutter;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 -25px;

        @include md-down {
            margin: 0 -15px;
        }

        @include sm-down {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        li {
            padding: 0 25px;
            display: inline-block;

            @include md-down {
                padding: 0 15px;
            }

            @include sm-down {
                display: block;
            }

            a {
                @include font($style:medium);
                color: #808080;

                &.active {
                    color: $dark;
                }
            }
        }
    }
}

.filters--centered-search {
    @extend .filters--centered;

    .filters__wrapper {
        @include xs-down {
            justify-content: flex-start;
        }
    }
}


//FILTERS PANEL
.filters__panel {
    @include font($style:heavy);
    font-size: 0.7rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        color: $dark;
        text-transform: uppercase;
    }

    .btn--split {
        padding: 0 29px 0 27px;
        height: 100%;
        display: flex;
        align-items: center;

        @include md-down {
            padding: 0 17px 0 15px;
        }

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity .6s $smooth;

        }

        &:after {
            display: none;
        }

        &:hover {
            &:after {
                display: none;
            }

            .char {
                color: $dark;
            }
        }
    }

    .filters__arrow {
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 10px;
        height: 10px;
        left: 10px;
        top: 0px;
        overflow: hidden;

        @include md-down {
            left: 5px;
        }

        @include sm-down {
            width: 8px;
            height: 8px;
        }

        .ico {
            position: absolute;
            z-index: 1;
            width: 10px;
            height: 10px;
            transition: all .6s $smooth;

            @include sm-down {
                width: 8px;
                height: 8px;
            }
        }

        .ico--arrow-top {
            top: 0;
            left: 0;
        }

        .ico--arrow-bottom {
            top: -10px;
            left: 0;
            fill: #a6a6a6;

            @include sm-down {
                top: -8ps;
            }
        }
    }

    &>ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;

        &>li {
            height: 100%;
            display: flex;
            align-items: center;

            &:before,
            &:after {
                position: relative;
                z-index: 1;
                content: '';
                top: 0;
                height: 100%;
                width: 1px;
                background: #e4e4e4;
                transition: opacity .6s $smooth;
                opacity: 0;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            &.active {
                .filters__arrow {
                    .ico--arrow-top {
                        top: 10px;

                        @include sm-down {
                            top: 8ps;
                        }
                    }

                    .ico--arrow-bottom {
                        top: 0;
                    }
                }
            }
        }
    }
}

// SUB NAV ANIMATION SETTINGS:
$subfilters-start: all 1000ms cubic-bezier(0, 0.97, 0.43, 1);
$subfilters-end: all var(--close-filters-speed) cubic-bezier(0, 0.97, 0.43, 1) 50ms;
$subfilters-item-start: all 800ms cubic-bezier(0, 0.97, 0.43, 1) 185ms;
$subfilters-item-end: all var(--close-filters-speed) cubic-bezier(0, 0.97, 0.43, 1);
$subfilters-item-top: 25px;
$subfilters-bg-transition: all var(--close-filters-speed) cubic-bezier(0, 0.97, 0.43, 1);

// body.subfilters-open ul li.active .subfilters .subfilters__wrapper {
//     @for $i from 1 to 10 {
//         a:nth-child(#{$i}) {
//             transition-delay: $i * 0.06s;
//         }
//     }
// }


//SUBFILTERS
.subfilters {
    width: 100%;
    height: 0;
    background: $white;
    //border-bottom: 2px solid $dark;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: $header-height;
    left: 0;
    transition: $subfilters-end;
    overflow: hidden;

    @include sm-down {
        top: $header-height-mobile;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 2px;
        background: $dark;
        bottom: 0;
    }

    .container--big {
        height: 100%;
    }

    .subfilters__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -30px;
        position: relative;
        z-index: 1;
        padding: 50px 0;

        @include md-down {
            padding: 20px 0;
        }

        @include sm-down {
            margin: 0 -15px;
        }

        @include xs-down {
            margin: 0 -5px;
        }

        a {
            position: relative;
            top: $subfilters-item-top;
            opacity: 0;
            transition: $subfilters-item-end;
        }
    }

    .subfilters__wrapper>a {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        padding: 0 30px;
        margin-bottom: 30px;
        display: block;

        @include md-down {
            margin-bottom: 20px;
        }

        @include sm-down {
            margin-bottom: 10px;
            padding: 0 15px;
        }

        @include xs-down {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 5px;
        }

        &:hover {
            .subfilters__color {
                border: 2px solid $grey;
            }

            .subfilters__caption {
                color: $dark;
            }
        }
    }

    .subfilters__item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.active {
            .subfilters__color {
                border: 2px solid $dark;
            }

            .subfilters__caption {
                color: $dark;
            }
        }
    }

    .subfilters__caption {
        @include font($style:book);
        text-transform: none;
        color: #808080;
        font-size: 0.9rem;
        transition: all .6s $smooth;
    }

    .subfilters__wrapper--colors {

        &>a {
            flex: 0 0 16.666%;
            max-width: 16.666%;
            margin-bottom: 20px;

            @include md-down {
                flex: 0 0 25%;
                max-width: 25%;
                margin-bottom: 10px;
            }

            @include sm-down {
                flex: 0 0 33.333%;
                max-width: 33.333%;
            }

            @include xs-down {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .subfilters__caption {
            margin-left: 30px;

            @include xs-down {
                margin-left: 10px;
            }
        }

        .subfilters__color {
            flex: 0 0 60px;
            max-width: 60px;
            height: 60px;
            border: 2px solid white;
            transition: border .6s $smooth;

            @include md-down {
                flex: 0 0 50px;
                max-width: 50px;
                height: 50px;
            }

            @include sm-down {
                flex: 0 0 40px;
                max-width: 40px;
                height: 40px;
            }

            &.subfilters__color--white {
                background: white;
                border: 2px solid #e4e4e4;
            }

            &.subfilters__color--grey {
                background: #c1c0be;
            }

            &.subfilters__color--brown {
                background: #4d423f;
            }

            &.subfilters__color--green {
                background: #9AA48C;
            }

            &.subfilters__color--red {
                background: #6E2926;
            }

            &.subfilters__color--blue {
                background: #0C485E;
            }

            &.subfilters__color--black {

                background: #000000;
            }

            &.subfilters__color--beige {
                background: #C5BEAA;
            }

            &.subfilters__color--terra {
                background: #96715F;
            }

            &.subfilters__color--yellow {
                background: #F1D89F;
            }

            &.subfilters__color--purple {
                background: #4F3A4B;
            }

            &.subfilters__color--light-blue {
                background: #ABCEE2;
            }
        }
    }
}

.filters__tags {
    display: flex;
    flex-direction: row;
    padding: 0 $col-gutter-half;
    margin: 0 -20px $col-gutter -20px;

    &>div {
        @include font($style:heavy);
        color: $dark;
        font-size: 0.75rem;
        cursor: pointer;
        padding: 0 20px;

        .ico {
            width: 9px;
            height: 9px;
            position: relative;
            top: -1px;
            right: -8px;
        }
    }

    .filters__tags-clear {
        @include font($style:heavy);
        font-size: 0.55rem;
        color: #808080;
        text-transform: uppercase;
        margin-left: 50px;
    }
}

body.filters-open {

    .filters {
        &:after {
            background: #e4e4e4;
            transition: background .6s $smooth;
        }
    }

    .filters__panel {

        ul li.active {

            &:after,
            &:before {
                opacity: 1;
            }

            .subfilters {
                pointer-events: all;
                transition: $subfilters-start;
            }

            .subfilters__wrapper {
                a {
                    top: 0;
                    opacity: 1;
                    transition: $subfilters-item-start;
                }
            }

            .btn--split {

                .word .char {
                    color: #a6a6a6;
                    transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1) calc(250ms * var(--char-index) / var(--char-total));
                }

                &:before {
                    opacity: 1;
                }
            }
        }
    }
}