@import "../mixins";
@import "../variables";

input {

    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: inherit;
        text-decoration: none;
        outline: none;
    }

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
}

//form
$form-main: $grey;
$form-white: $white;
$form-red: $dark;

/*--------------------------------------------------
Form in right panel
--------------------------------------------------*/
.form:not(.form-inpage) {
    line-height: 1.4;
    font-size: 1rem;

    .obbl_fields {
        font-size: 0.7rem;
        text-align: right;

        em {
            color: $form-main;
        }
    }

    .btn {
        margin-bottom: 0;
    }

    .error {
        border-bottom: 2px solid #d30000 !important;
    }

    .form-group {
        display: block;
        position: relative;
        z-index: 1;


        input, input[type="radio"] + label,
        input[type="checkbox"] + label:before,
        select option,
        select,
        textarea {
            @include font($style:book);
            width: 100%;
            padding: 16px;
            line-height: 1.4;
            background-color: #f9f9f9;
            border: 2px solid #e8eaea;
            border-radius: 0;
            font-size: 0.7rem;
            transition: all 0.35s $smooth;
            color: $dark;
            cursor: pointer;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: 0;
            border-color: $form-main;
        }

        input::placeholder,
        textarea::placeholder {
            color: $form-main;
            font-weight: 400;
            font-size: 0.7rem;
        }

        label {
            margin-bottom: 2t0px;
            font-weight: 600;
            font-size: 0.65rem;
            text-transform: uppercase;

            a {
                text-decoration: underline;
            }

            em {
                color: $form-main;
            }

            span {
                text-transform: none;
                font-weight: normal;
            }
        }
        //control radio btn
        .control-radio-btn {

            &:after {
                @include clearfix;
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"] + label {
                display: inline-block;
                width: 50%;
                text-align: center;
                float: left;
                border-radius: 0;
            }


            input[type="radio"] + label i {
                padding-right: 0.4em;
            }

            input[type="radio"]:checked + label,
            input:checked + label:before {
                background-color: $form-main;
                color: $form-white;
                border-color: $form-main;
            }
        }
        //control radio inline
        .control-radio-inline {

            input[type="radio"] {
                display: none;
            }

            input[type="radio"] + label {
                position: relative;
                display: block;
                padding-left: 1.6em;
                cursor: pointer;
                width: auto;
                padding: 0;
                background: transparent;
                border: 0;

                span {
                    padding-left: 27px;
                }
            }

            input[type="radio"] + label:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 1em;
                height: 1em;
                padding: 0;
                font-size: 1.1em;
                font-family: FontAwesome;
                content: '\f1db';
                color: $form-main;
            }

            input[type="radio"] + label:after {
                position: absolute;
                top: 0.62em;
                left: 0.4em;
                font-size: 0.56em;
                color: $form-main;
                opacity: 0;
                font-family: FontAwesome;
                content: "\f111";
            }

            input[type="radio"]:checked + label:after {
                opacity: 1;
            }
        }
        //control checkbox
        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            position: relative;
            display: block;
            padding-left: 2em;
            cursor: pointer;
            text-transform: none;
            padding-top: 3px;

            @include xs-down {
                margin: 0;
            }
        }

        input[type="checkbox"].error + label:before {
            border: 2px solid #d30000;
        }

        input[type="checkbox"] + label:before {
            position: absolute;
            top: 0.2em;
            left: 0;
            display: block;
            width: 1em;
            height: 1em;
            padding: 0;
            content: '';
        }

        input[type="checkbox"] + label:after {
            content: '';
            position: absolute;
            top: 0.4em;
            left: 0.15em;
            color: $form-main;
            width: 0;
            height: 0;
            background-size: 1em 1em;
            background-image: url('../assets/img/icons/close.svg');
            background-repeat: no-repeat;
            transition: all .3s $smooth;
        }

        input:checked + label:after {
            width: 1em;
            height: 1em;
        }

        .control-checkbox {
            label {
                font-weight: 500;
            }
        }
    }
    //form thin
    &.form-thin {

        input,
        select {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #cfc5c5;
            font-size: 0.8rem;
            padding: 10px 0 10px 0;
            border-radius: 0;
        }

        textarea {
            border: 0;
            border: 1px solid #cfc5c5;
            font-size: 0.8rem;
            background: transparent;
            padding: 10px;
        }

        input::placeholder,
        textarea::placeholder,
        select {
            color: $form-main;
            font-size: 0.8rem;
            font-style: normal;
        }

        .control-select {

            &:before {
                top: 2px;
                right: 5px;
            }

            &:after {
                background: $form-white;
            }
        }

        .control-password {
            .show-hide-pass {
                right: 0;
            }
        }
    }
    //form tiny
    &.form-tiny {

        input,
        select,
        textarea {
            font-size: 14px;
            padding: 6px 8px;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 14px;
        }

        .control-select {

            &:before {
                font-size: 20px;
                z-index: 2;
                top: 1px;
                right: 10px;
            }
        }

        .control-label {
            font-size: 14px;
        }

        .radio-inline {
            span {
                font-size: 14px;
            }
        }

        input[type="checkbox"] + label {
            font-size: 14px;
        }
    }

    .form_confirm {
        zoom: 1;
        padding-bottom: 35px;

        @include xs-down {
            padding-bottom: 0;
        }
    }

    .frm_error {
        font-size: 14px;
        padding-top: 10px;
        color: $form-red;
    }

    .form-control.error {
        color: $form-red;
        border-bottom: 2px solid #d30000 !important;
    }

    .error + label {
        color: $form-red !important;
    }

    .form-results {
        font-size: 13px;
        margin-top: 10px;
        color: #ff0000;
        border-bottom: 0px solid #d30000 !important;
    }

    .form-group input:focus,
    .form-group textarea:focus,
    .form-group select:focus {
        .error {
            color: $form-red;
            border-bottom: 2px solid #d30000 !important;
        }
    }
    //form columns
    .form-row {
        zoom: 1;
        padding-bottom: 35px;

        &.big-select {
            position: relative;
            z-index: 2;
        }

        @include xs-down {
            padding-bottom: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:before,
        &:after {
            content: '';
            display: table;
        }

        &:after {
            clear: both;
        }

        @include xs-down {
            .form-group {
                padding-bottom: 20px;
            }

            &:last-child {
                .form-group {
                    padding-bottom: 0;
                }
            }
        }

        &.form-row-select {
            position: relative;
            z-index: 2;
        }
    }

    .form-row-select {
        position: relative;
        z-index: 2;
    }

    .form-col-half {
        padding-right: 10px;
        float: left;
        width: 50%;

        &:last-of-type {
            padding-right: 0;
        }

        @include xs-down {
            width: 100%;
            padding-right: 0;
        }
    }

    .form-col-third {
        padding-right: 10px;
        float: left;
        width: 33.33333333%;

        &:last-of-type {
            padding-right: 0;
        }

        @include xs-down {
            width: 100%;
            padding-right: 0;
        }
    }

    .form-group input[type="checkbox"][name="_mc4wp_agree_to_terms"] {
        width: auto;
        position: absolute;
        top: 0.4em;
        left: 0;
        opacity: 0;
        z-index: 2;
        display: block;
    }
}

.side-panel__recover .form-group input,
.side-panel__login .form-group input,
.side-panel__reset .form-group input {
    background-color: #fff !important;
}


/*--------------------------------------------------
Form in page
--------------------------------------------------*/
.form-inpage {

    .obbl_fields {
        font-size: 0.7rem;
        text-align: right;
    }

    .form-row {
        margin-bottom: 50px;
        display: flex;

        @include xs-down {
            display: block;
            margin-bottom: 0;
        }

        .form-col-half {
            margin-right: 60px;
            width: calc(100% - 30px);

            @include xs-down {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .form-col-full {
            width: 100%;

            @include xs-down {
                margin-bottom: 20px;
            }
        }

        input, input[type="radio"] + label,
        select option,
        select,
        textarea {
            @include font($style:book);
            width: 100%;
            line-height: 1.4;
            border: 2px solid #e8eaea;
            border-radius: 0;
            font-size: 0.7rem;
            transition: all 0.35s $smooth;
            color: $dark;
            cursor: pointer;
            background-color: #fff;
            font-weight: 500;
            padding: 19px 16px;
        }

        .error {
            border-bottom: 2px solid #d30000 !important;
        }

        label {
            font-weight: 600;
            font-size: 0.65rem;
            text-transform: uppercase;
            display: block;
            margin-bottom: 16px;

            em {
                color: $form-main;
            }

            span {
                text-transform: none;
                font-weight: normal;
            }
        }
        //control radio btn
        .control-radio-btn {

            &:after {
                @include clearfix;
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"] + label {
                display: inline-block;
                width: 50%;
                text-align: center;
                float: left;
                border-radius: 0;
            }


            input[type="radio"] + label i {
                padding-right: 0.4em;
            }

            input[type="radio"]:checked + label,
            input:checked + label:before {
                background-color: $form-main;
                color: $form-white;
                border-color: $form-main;
            }
        }
        //control radio inline
        .control-radio-inline {

            input[type="radio"] {
                display: none;
            }

            input[type="radio"] + label {
                position: relative;
                display: block;
                padding-left: 1.6em;
                cursor: pointer;
                width: auto;
                padding: 0;
                background: transparent;
                border: 0;

                span {
                    padding-left: 27px;
                }
            }

            input[type="radio"] + label:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 1em;
                height: 1em;
                padding: 0;
                font-size: 1.1em;
                font-family: FontAwesome;
                content: '\f1db';
                color: $form-main;
            }

            input[type="radio"] + label:after {
                position: absolute;
                top: 0.62em;
                left: 0.4em;
                font-size: 0.56em;
                color: $form-main;
                opacity: 0;
                font-family: FontAwesome;
                content: "\f111";
            }

            input[type="radio"]:checked + label:after {
                opacity: 1;
            }
        }
        //control checkbox
        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            position: relative;
            display: block;
            cursor: pointer;
            text-transform: none;
            font-size: 0.85rem;
            padding-left: 2.6em;

            @include xs-down {
                margin: 0;
            }
        }

        input[type="checkbox"].error + label:before {
            border: 2px solid #d30000;
        }

        input[type="checkbox"] + label:before {
            position: absolute;
            left: 0;
            display: block;
            width: 1em;
            height: 1em;
            content: '';
            background-color: #fff;
            padding: 0px;
            top: 0.1em;
            border: 2px solid #e8eaea;
        }

        input[type="checkbox"] + label:after {
            content: '';
            position: absolute;
            top: 0.2em;
            left: 0.1em;
            color: $form-main;
            width: 0;
            height: 0;
            background-size: 1em 1em;
            background-image: url('../assets/img/icons/close.svg');
            background-repeat: no-repeat;
            transition: all .3s $smooth;
        }

        input:checked + label:after {
            width: 1em;
            height: 1em;
        }

        .control-checkbox {

            a {
                text-decoration: underline;
            }

            label {
                font-weight: 500;
            }
        }

        .cta {
            .btn {
                padding: 19px 38px;
            }
        }
    }
}


//custom select
.big-select {

    .choices {

        .choices__placeholder {
            opacity: 1;
            color: $form-main;
        }

        .choices__inner {
            background-color: #ffffff;
            color: $dark;
            padding: 0px 0px;
            border-radius: 0;
            font-weight: 500;
            font-size: 0.7rem;
            border: none;
            /*min-height: 61px;*/
        }

        .choices__list--single {
            padding: 14px 16px 0px 16px;
            min-height: 57px;
            border: 2px solid #e8eaea;

            @include md-down {
                padding-top: 18px;
            }
        }

        &.is-focused {
            .choices__inner {
                border: none;

                .choices__list--single {
                    border-color: $form-main;
                }
            }
        }
    }

    .choices__list--dropdown {
        background-color: #FFFFFF;
        border: 2px solid $form-main;
        margin-top: -2px;
    }

    .choices[data-type*="select-one"]:after {
        content: "";
        height: 0;
        width: 0;
        border-style: solid;
        border-color: #333333 transparent transparent transparent;
        border-width: 5px;
        position: absolute;
        right: 11.5px;
        top: 50%;
        margin-top: -2.5px;
        pointer-events: none;
    }

    .choices select.error + .choices__list--single {
        border-bottom: 2px solid #d30000;
    }
}
//light custom select (panel)
.small-select {
    .choices {

        .choices__inner {
            border: 0;
            border-radius: 0;
            background: $light-grey;
            text-align: left;
            //padding: 8px 10px 2px 10px;
            padding: 0;
            font-size: 0.65rem;
            text-transform: uppercase;
            font-weight: 500;
            vertical-align: unset;
            min-height: 40px;
        }

        .choices__list--single {
            padding: 8px 10px 2px 10px;
            border-bottom: 2px solid black;
        }

        select.error + .choices__list--single {
            border-bottom: 2px solid #d30000;
        }

        &[data-type*="select-one"] .choices__inner {
            padding-bottom: 0;
        }

        &[data-type*="select-one"]:after {
            width: 16px;
            height: 16px;
            background-size: 16px 16px;
            background-image: url('../assets/img/icons/arrow_left.svg');
            background-repeat: no-repeat;
            border: 0;
            position: absolute;
            right: 11.5px;
            top: 50%;
            margin-top: -2.5px;
            pointer-events: none;
            right: 25px;
            top: 50%;
            margin-top: -12.5px;
            pointer-events: none;
            transform: rotate(90deg);
            // transition: all .6s $smooth;
        }
        // &[data-type*="select-one"].is-open:after {
        //     transform: rotate(-90deg);
        // }
        .choices__list--dropdown {
            top: 0;
            border: 0;
            border-radius: 0;
            text-align: left;

            .choices__item {
                padding: 15px 25px;
                font-size: 0.65rem;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .is-flipped & {
            top: auto;
            bottom: auto;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 0;
        }
    }
}

.form .form-group--select {
    position: relative;
    z-index: 2;

    .choices {
        .choices__inner {
        }

        .choices__list--dropdown {
            background-color: #f9f9f9;
            border: 2px solid #e8eaea;
        }

        .choices__list--single {
            padding: 16px;
            line-height: 1.4;
            background-color: #f9f9f9;
            border: 2px solid #e8eaea;
            border-radius: 0;
            font-size: 0.7rem;
        }
    }

    select.error + .choices__list--single {
        border-bottom: 2px solid #d30000;
    }
}
