.nav {
    @include font($style:heavy);
    font-size: 0.7rem;

    a {
        color: $dark;
        text-transform: uppercase;
    }

    .nav__mobile-hidden {
        display: inline-block;

        @include sm-down {
            display: none;
        }
    }

    .nav__mobile-only {
        display: none;

        @include sm-down {
            display: block;
        }
    }

    .btn--split {
        padding: 0;

        &:before {
            top: -34px;
        }

        &:after {
            display: block;
            top: -34px;
        }

        &:hover {
            &:before {
                background: $dark;
            }

            .char {
                color: $dark;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 -27px;

        @include md-down {
            margin: 0 -15px;
        }

        li {
            display: inline-block;
            padding: 0 27px;

            @include md-down {
                padding: 0 15px;
            }

            svg {
                display: none;
            }

            button.nav__search {

                svg {
                    display: block;
                    fill: $dark;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &.nav--secondary {
        ul li .btn--split {
            text-transform: none;
        }
    }
}

.nav__toggle {
    display: none;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 0;
}

.nav__counter {
    display: none;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 0;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $dark;

    }

    @include sm-down {
        display: flex;
    }

    span {
        position: relative;
        z-index: 2;
        color: $white;
        text-align: center;
    }
}

// SUB NAV ANIMATION SETTINGS:
$subnav-start: all 1000ms cubic-bezier(0, 0.97, 0.43, 1);
$subnav-end: all var(--close-nav-speed) cubic-bezier(0, 0.97, 0.43, 1) 50ms;
$subnav-item-start: all 800ms cubic-bezier(0, 0.97, 0.43, 1) 185ms;
$subnav-item-end: all var(--close-nav-speed) cubic-bezier(0, 0.97, 0.43, 1);
$subnav-item-top: 25px;
$subnav-bg-transition: all var(--close-nav-speed) cubic-bezier(0, 0.97, 0.43, 1);

// body.subnav-open ul li.active .subnav .subnav__wrapper {
//     @for $i from 1 to 10 {
//         a:nth-child(#{$i}) {
//             transition-delay: $i * 0.06s;
//         }
//     }
// }

//subnav
.subnav {
    width: 100%;
    height: 0;
    background: $white;
    //border-bottom: 2px solid $dark;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: calc(#{$header-height} - 2px);
    left: 0;
    transition: $subnav-end;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 2px;
        background: $dark;
        bottom: 0;
    }

    img {
        max-width: 100%;
    }

    .container--big {
        height: 100%;
    }

    .subnav__mobile-back {
        display: none;
    }

    .subnav__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 0 -#{$col-gutter-half};
        position: relative;
        z-index: 1;

        @include sm-down {
            justify-content: normal;
        }

        a {
            position: relative;
            top: $subnav-item-top;
            opacity: 0;
            transition: $subnav-item-end;
        }
    }

    .subnav__wrapper>a {
        // flex: 0 0 25%;
        // max-width: 25%;
        padding: 0 $col-gutter-half;
        display: block;
    }
}

body {

    &:after {
        content: '';
        width: 100vw;
        height: 130vh;
        background: black;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: $subnav-bg-transition;
    }
}

//subnav open
body.subnav-open {

    &:after {
        opacity: .3;
    }

    .nav {
        ul li.active {

            .subnav {
                pointer-events: all;
                transition: $subnav-start;
            }

            .subnav__wrapper {
                a {
                    top: 0;
                    opacity: 1;
                    transition: $subnav-item-start;
                }
            }

            .btn--split {

                .word .char {
                    color: #a6a6a6;
                    transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1) calc(250ms * var(--char-index) / var(--char-total));
                }

                &:before {
                    width: 100%;
                    left: auto;
                    right: 0;
                }

                &:after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }

                    &:after {
                        width: 100%;
                    }
                }

            }
        }
    }
}

//nav mobile
@include sm-down {
    .nav {
        padding: 0 32px;
        margin-bottom: 40px;
        font-size: 1.15rem;

        ul {
            margin: 0;

            li {
                display: block;
                padding: 0;
                position: relative;
                z-index: 1;

                .btn--split {
                    position: relative;
                    z-index: 1;
                }

                svg {
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    z-index: 1;
                    right: 5px;
                    top: 20px;
                }
            }
        }

        .nav__mobile-hidden {
            display: none;
        }

        .nav__mobile-only {
            display: block;
        }

        &.nav--primary {

            &>ul {

                &>li {
                    position: relative;
                    z-index: 1;

                    &:after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        background: $dark;
                        height: 2px;
                        width: 100%;
                    }

                    .btn--split {
                        display: block;
                        padding: 14px 10px;
                    }
                }
            }
        }

        &.nav--secondary {

            &>ul {
                &>li {
                    .btn--split {
                        text-transform: none;
                        display: block;
                        padding: 14px 10px;

                    }
                }
            }
        }
    }

    .subnav {
        //display: none;
        position: fixed;
        z-index: 10;
        top: calc(#{$header-height-mobile} - 2px);
        left: 100%;
        background: $white;
        height: 75vh;
        width: 100%;
        pointer-events: all;
        overflow: auto;
        transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
        box-shadow: -5px 0px 4px -3px rgba(0, 0, 0, 0.08);

        .container--big {
            max-width: none;
        }

        .subnav__wrapper {
            flex-wrap: wrap;
            margin: 0 $col-gutter-half;

            a {
                flex: 0 0 50%;
                max-width: 50%;
                transition: none;
                opacity: 1;
                margin-bottom: 20px;
                text-transform: none;
                @include font(book);
            }
        }

        .subnav__mobile-back {
            position: relative;
            z-index: 1;
            display: block;
            height: 53px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            &:after,
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: #cdcdcd;
                width: 100%;
                height: 2px;
                left: 0;
            }

            &:after {
                top: 0;
            }

            &:before {
                bottom: 0;
            }

            svg {
                right: auto;
                left: $col-gutter;
            }
        }
    }

    .nav__toggle {
        display: block;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            left: -28px;
            top: -3px;
            width: 25px;
            height: 25px;
            background: white;
            transition: left 500ms $smooth 250ms;
        }

        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            display: inline-block;
            max-width: 100%;
        }

        svg.nav__open {
            z-index: 1;
            transition: all 500ms $smooth 250ms;
        }

        svg.nav__close {
            z-index: 3;
            width: 16px;
            height: 16px;
            left: -28px;
            transition: left 500ms $smooth 50ms;
        }
    }

    //animation
    body.nav-mobile-open {

        header.header {
            .header__wrapper {
                height: 75vh;
                pointer-events: all;
            }
        }

        .nav {
            ul {
                li {
                    .btn--split {

                        &:after,
                        &:before {
                            display: none;
                        }
                    }

                    &.active {

                        .subnav {
                            left: 0;
                        }
                    }
                }
            }
        }

        .nav__toggle {
            &:before {
                left: -2px;
                transition: left 500ms $smooth 50ms;
            }

            svg.nav__open {
                z-index: 1;
                transform: scale(0.8);
                transition: all 500ms $smooth;
            }

            svg.nav__close {
                z-index: 3;
                left: 0;
                transition: left 500ms $smooth 250ms;
            }
        }
    }
}