@import "../mixins";

img:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.picture {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    //@slidebg on enter
    // transform: scale(0.97, 0.97);
    //@slidebg on enter

    //transform: translateY(30px);
    // @include aspect-clip(10, 6, 0.15);
    transition: all 600ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
    @include aspect-clip(10, 6, 0);

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        top: -2.5%;
        left: 0;
        background: $light-grey;
        width: 100%;
        height: 105%;
    }

    img,
    video {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 600ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
    }

    .picture__container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 600ms cubic-bezier(0.320, 0.000, 0.290, 0.990);
        transform: scale(1.05, 1.05) translateY(10px);
        //@slidebg on enter
        //transition: all 1000ms ease-in-out;
        //@slidebg on enter

        // img {
        //     @include xs-down {
        //         top: 50% !important;
        //         left: 50% !important;
        //         transform: translate(-50%, -50%) !important;
        //         height: 100%;
        //         width: auto !important;
        //     }
        // }
    }

    &.loaded {
        //@slidebg on enter
        // transform: scale(1, 1);
        //@slidebg on enter
        //transform: translateY(0px);

        img {
            opacity: 1;

            // transform: scale(1, 1);
            //@slidebg on enter
            //transition: opacity 1500ms ease-in-out;
            //@slidebg on enter
        }

        //@slidebg on enter
        .picture__container {
            transform: scale(1, 1) translateY(0);
        }

        //@slidebg on enter
    }

    &.reverse {

        img,
        video {
            top: auto;
            bottom: 0;
        }
    }

    &.picture--frame {
        padding: 0 $col-gutter;
    }

    &.picture--animate {

        &.loaded {
            .picture__container {
                transition: all 5s $smooth;
            }

            &:hover {
                .picture__container {
                    transform: scale(1.05);
                }
            }
        }
    }

    &.picture--shadow {
        &.loaded {
            .picture__container {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
                    opacity: 0;
                    transition: all 5s $smooth;
                }
            }

            &:hover {
                .picture__container {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.picture+.picture__caption {
    margin-top: 20px;
}


.tooltips {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .tooltips_item {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        width: 30px;
        height: 30px;

        @include sm-down {
            transform: translate(-25%, -25%);
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 11px;
            height: 11px;
            border: 2px solid $white;
            border-radius: 50%;
            // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);

            @include sm-down {
                width: 8px;
                height: 8px;
            }
        }
    }
}