@import "../mixins";

img:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.picture {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    //@slidebg on enter
    // transform: scale(0.97, 0.97);
    //@slidebg on enter

    //transform: translateY(30px);
    transition: all 1000ms $smooth;
    @include aspect-clip(10, 6, 0);
    // @include aspect-clip(10, 6, 0.15);

    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        top: -2.5%;
        left: 0;
        background: $light-grey;
        width: 100%;
        height: 105%;
    }

    .picture__container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //transform: scale(1.05, 1.05);
        //@slidebg on enter
        //transition: all 1000ms ease-in-out;
        //@slidebg on enter
        transition: all 1000ms $smooth;
    }

    &.loaded {
        //@slidebg on enter
        // transform: scale(1, 1);
        //@slidebg on enter
        //transform: translateY(0px);

        img {
            transform: scale(1, 1);
            opacity: 1;
            //@slidebg on enter
            //transition: opacity 1500ms ease-in-out;
            //@slidebg on enter
            transition: opacity 1500ms $smooth;
        }

        //@slidebg on enter
        // .picture__container {
        //     transform: scale(1, 1);
        // }
        //@slidebg on enter
    }

    // &:hover {

    //     .picture__container {
    //         transform: scale(1.03, 1.03);
    //         transition: all 1500ms ease-in-out;
    //     }
    // }

    img,
    video {
        display: block;
        width: 100%;
        position: absolute;
        opacity: 0;
    }

    &.reverse {

        img,
        video {
            top: auto;
            bottom: 0;
        }
    }

    // &:not(.picture--full-height) {
    //     @include aspect-clip(10, 6);

    //     img,
    //     video {
    //         position: absolute;
    //         object-fit: cover;
    //     }
    // }


    // &.picture--cover {
    //     @include aspect-clip(1920, 1200, 0.15);

    //     @include xs-down {
    //         @include aspect-clip(3, 4, 0.15);
    //     }
    // }

    &.picture--frame {
        padding: 0 $col-gutter;
    }
}

.picture+.picture__caption {
    margin-top: 20px;
}