@import "../mixins";

.side-panel {
    position: fixed;
    z-index: 10001;
    top: 0;
    right: -700px;
    width: 700px;
    height: 100vh;
    background: $white;
    border-left: 2px solid $dark;

    @include sm-down {
        width: 500px;
        right: -502px;
    }

    @include xs-down {
        width: 100vw;
        right: calc(-102vw - 2px);
        border-left: 0;
    }
}

.side-panel__header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm-down {
        height: $header-height-mobile;
    }

    @include xs-down {

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            background: $dark;
            width: 100%;
            height: 2px;
            bottom: 0;
        }
    }

    .side-panel__close {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.side-panel__content {
    width: 100%;
    height: calc(100vh - #{$header-height * 2});
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    @include sm-down {
        height: calc(100vh - #{$header-height-mobile * 2});
    }

    img {
        max-width: 100%;
    }
}

.side-panel__primary {
    padding: 0 $col-gutter-half $col-gutter-half $col-gutter-half;
    flex: 0 0 100%;
    max-width: 100%;
    overflow-y: auto;

    @include xs-down {
        padding: $col-gutter;
    }
}

.side-panel__secondary {
    padding: 0 $col-gutter-half $col-gutter-half $col-gutter-half;
    flex: 0 0 100%;
    max-width: 100%;
    overflow-y: auto;

    @include xs-down {
        padding: $col-gutter;
    }
}

//side panel samples
.side-panel--samples {

    .side-panel__list {
        display: flex;
        flex-direction: column;

        .side-panel__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: $col-gutter-half;
            padding-bottom: $col-gutter-half;
            position: relative;
            z-index: 2;

            @include xs-down {
                margin-bottom: $col-gutter;
                padding-bottom: $col-gutter;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background: $dark;
            }

            .h6 {
                font-size: 1.2rem;
                @include font($style:medium);
            }

            .text {
                font-size: 0.9rem;
            }

            .img {
                flex: 0 0 30%;
                max-width: 30%;

                @include sm-down {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }

            .box {
                flex: 1 0 auto;
                padding: 0 40px;
            }

            .cta {
                flex: 0 0 auto;
                text-transform: uppercase;
                font-size: 0.8rem;
                display: flex;
                align-items: center;
            }
        }
    }

    .side-panel__form {
        display: flex;
        flex-direction: column;
    }

    .side-panel__footer {
        position: relative;
        z-index: 1;
        width: 100%;
        height: $header-height;
        overflow: hidden;

        @include sm-down {
            height: $header-height-mobile;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            background: $dark;
            width: 100%;
            height: 2px;
            left: 0;
            top: 0;
        }

        .cta {
            width: 100%;
            height: 100%;
        }
    }

    .side-panel__choices {
        display: none;
    }

    .side-panel__results {
        display: none;
    }
}

//side panel dealers
.side-panel--dealers {

    .side-panel__primary {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .side-panel__content {
        background: $light-grey;
        height: calc(100vh - #{$header-height});

        @include sm-down {
            height: calc(100vh - #{$header-height-mobile});
        }
    }

    .side-panel__choices {
        display: flex;
        flex-direction: column;
        text-align: center;

        .side-panel__title {
            font-size: 0.8rem;
            margin-bottom: 130px;
            text-transform: uppercase;
            padding: 0 180px;
            @include font($style:medium);
        }

        .side-panel__questions {
            margin-bottom: 130px;

            .side-panel__item {
                span {
                    font-size: 1.8rem;
                }
            }

            select {
                -webkit-appearance: button;
                -moz-appearance: button;
                -webkit-user-select: none;
                -moz-user-select: none;
                -webkit-padding-end: 20px;
                -moz-padding-end: 20px;
                -webkit-padding-start: 2px;
                -moz-padding-start: 2px;
                background-color: #F07575;
                width: 300px;
                /* fallback color if gradients are not supported */
                background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
                /* For Chrome and Safari */
                background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4);
                /* For old Fx (3.6 to 15) */
                background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);
                /* For pre-releases of IE 10*/
                background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4);
                /* For old Opera (11.1 to 12.0) */
                background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4);
                /* Standard syntax; must be last */
                background-position: center right;
                background-repeat: no-repeat;
                border: 1px solid #AAA;
                border-radius: 2px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                color: #555;
                font-size: inherit;
                margin: 0;
                overflow: hidden;
                padding-top: 2px;
                padding-bottom: 2px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .side-panel__next {}
    }

    .side-panel__results {}

    .side-panel__list {
        display: none;
    }

    .side-panel__form {
        display: none;
    }

    .side-panel__footer {
        display: none;
    }
}


body.side-panel-open {
    overflow: hidden;

    .dark-layer {
        pointer-events: all;
        opacity: .3;

    }
}