.transition {
    position: fixed;
    z-index: 3;
    bottom: 0;
    transform-origin: bottom;
    left: 0;
    width: 100vw;
    height: 100vh;
    //background: white;
    //background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    //background: #f0f0f0;
    //background: #e1e1e1;
    background: #b5b5b5;
    overflow: hidden;

    &.transition-1 {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
        }
    }

    &.transition-2 {

        .logo__primary {
            width: 0vw;
            height: auto;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            bottom: -60px;
        }

        .logo__secondary {
            width: 0vw;
            height: auto;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            bottom: -60px;
        }

        .logo-black {
            width: 100vw;
            opacity: 0.3;
        }

        .logo-white {
            width: 100vw;
            opacity: 0.2;
        }
    }

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 110px;
        height: 110px;
    }

    .logo__square-primary {
        fill: #ECECEC;
        width: 0;
    }

    .logo__square-secondary {
        fill: #CFCFCF;
        width: 0;
    }

    .logo__char-m,
    .logo__char-u,
    .logo__char-t,
    .logo__char-i,
    .logo__char-n,
    .logo__char-a,
    .logo__char-r,
    .logo__char-r2 {
        fill: #1D1D1B;
    }

    .logo__char-m,
    .logo__char-u,
    .logo__char-t,
    .logo__char-i,
    .logo__char-n,
    .logo__group-a {
        opacity: 0;
    }
}



// .barba-container {
//     transition: all 800ms ease-in-out;

//     &.starting-leave {
//         //filter: grayscale(100%);
//         filter: blur(5px);
//     }

//     &.starting-enter {
//         //filter: grayscale(100%);
//         filter: blur(5px);
//     }
// }


// .transition {
//     position: fixed;
//     z-index: 9999;
//     bottom: 0;
//     transform-origin: bottom;
//     left: 0;
//     width: 100vw;
//     height: 0;
//     background: $dark;
//     overflow: hidden;

//     img {
//         width: 100vw;
//         height: auto;
//         position: relative;
//         z-index: 2;
//         bottom: -10%;
//         opacity: 0.4;
//         top: 60%;
//     }

//     &.intro {
//         height: 100vh;
//         transition: all 1000ms $smooth;
//     }

//     &.outro {
//         top: 0;
//         bottom: auto;
//         height: 0;
//         transform-origin: top;
//         transition: all 1000ms $smooth;
//     }
// }


// .barba-container {
//     transition: all 800ms ease-in-out;

//     &.starting-leave {
//         //filter: grayscale(100%);
//         filter: blur(5px);
//     }

//     &.end-leave {
//         transform: translateY(-30vh);
//     }

//     &.starting-enter {
//         //filter: grayscale(100%);
//         filter: blur(5px);
//     }
// }