@import "../mixins";
@import "../variables";

.transition {
    position: fixed;
    z-index: 3;
    bottom: 0;
    transform-origin: bottom;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    //background: white;
    //background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    //background: #f0f0f0;
    //background: #e1e1e1;
    //background: #f7f7f7;
    background: white;
    overflow: hidden;
    pointer-events: all;

    &:after {
        content: '';
        background: $dark;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 2px;
        position: absolute;
        z-index: 2;
    }

    &.transition--no-top-line {
        &:after {
            display: none;
        }
    }

    .transition__line {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 2px;
        width: 0;
        background: $dark;
    }

    .logo__wrapper {
        position: fixed;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        pointer-events: none;
    }

    svg {
        width: 110px;
        height: 110px;
        padding: 10px 0;
    }

    .logo__square-primary {
        fill: $light-grey;
        width: 0;
        pointer-events: none;
    }

    .logo__square-secondary {
        fill: $light-grey;
        width: 0;
        pointer-events: none;
    }

    .logo__char-m,
    .logo__char-u,
    .logo__char-t,
    .logo__char-i,
    .logo__char-n,
    .logo__char-a,
    .logo__char-r,
    .logo__char-r2 {
        fill: #1D1D1B;
    }

    .logo__char-m,
    .logo__char-u,
    .logo__char-t,
    .logo__char-i,
    .logo__char-n,
    .logo__group-a {
        opacity: 0;
    }

    .transition__text {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .box {
            overflow: hidden;
            width: 100%;
            position: relative;
            z-index: 1;
            left: 0;
            bottom: 0;
        }

        .box--front {
            .text {
                font-size: 5rem;
                color: #fff;
                line-height: 1;
                padding: 8px 0;
                position: relative;
                bottom: 0;
                display: inline-block;
                white-space: nowrap;

                @include xs-down {
                    font-size: 3.6rem;
                }

                @include xxs-down {
                    font-size: 3rem;
                }
            }
        }

        .box--back {
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 0;

            .text {
                font-size: 5rem;
                color: $dark;
                line-height: 1;
                padding: 8px 0;
                position: relative;
                z-index: 3;
                bottom: 0;
                display: inline-block;
                white-space: nowrap;

                @include xs-down {
                    font-size: 3.6rem;
                }

                @include xxs-down {
                    font-size: 3rem;
                }
            }
        }
    }
}

.dark-layer {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: black;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s $smooth;
}