.downloads {
    padding-bottom: 190px;

    @include xl-down {
        padding-bottom: 130px;
    }

    @include md-down {
        padding-bottom: 120px;
    }

    @include sm-down {
        padding-bottom: 80px;
    }

    @include xs-down {
        padding-bottom: 50px;
    }
}

.downloads__list {

    &>a,
    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.downloads__item {
    padding: 20px;
    border-bottom: 2px solid $dark;
}

.downloads__title {
    font-size: 1.2rem;
}

.downloads__button {
    @include font($style:heavy);
    font-size: 0.7rem;
    text-transform: uppercase;
}