@import "../mixins";

.editorial {
    padding-bottom: 190px;

    @include xl-down {
        padding-bottom: 130px;
    }

    @include md-down {
        padding-bottom: 120px;
    }

    @include sm-down {
        padding-bottom: 80px;
    }

    @include xs-down {
        padding-bottom: 50px;
    }

    &>div {
        margin-bottom: 100px;

        @include md-down {
            margin-bottom: 80px;
        }

        @include sm-down {
            margin-bottom: 60px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

//2col text
.editorial__2col-text {

    .editorial__wrapper {
        column-count: 2;
        column-gap: $col-gutter;

        @include sm-down {
            column-count: 1;
            column-gap: 0;
        }
    }

    .h4 {
        color: $grey;
        margin-bottom: 70px;
        font-size: 1.7rem;
        line-height: 1.6;

        @include lg-down {
            font-size: 1.5rem;
            margin-bottom: 50px;
        }

        @include md-down {
            font-size: 1.4rem;
            margin-bottom: 40px;
        }

        @include sm-down {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    p {
        font-size: 1.28rem;
        line-height: 1.6;

        @include lg-down {
            font-size: $font-size-lg;
        }

        @include md-down {
            font-size: $font-size-md;
        }

        @include sm-down {
            font-size: $font-size-sm;
        }
    }
}

// 2col-img 
.editorial__2col-img {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 -#{$col-gutter-half};
    }

    .editorial__box-content {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 $col-gutter-half;
    }

    .editorial__caption {
        margin-top: 30px;
        font-size: 0.8rem;
        line-height: 1.3;

        @include sm-down {
            margin-top: 20px;
        }

        @include xs-down {
            margin-top: 15px;
            font-size: 0.6rem;
        }
    }
}

// 2col-text-img
.editorial__2col-text-img {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .editorial__box-text {
        flex: 0 0 $col-width-4;
        max-width: $col-width-4;
        margin-right: $col-width;
        margin-left: $col-gutter;

        @include xl-down {
            flex: 0 0 $col-width-5;
            max-width: $col-width-5;
            margin-right: $col-gutter;
            margin-left: 0;
        }

        @include md-down {
            flex: 0 0 70%;
            max-width: 70%;
            margin: 80px auto 0 auto;
            padding-right: $col-gutter;
            padding-left: $col-gutter;
            order: 2;
        }

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
            margin: 40px auto 0 auto;
        }

        ul {
            list-style: none;
            margin: 0 -5px;
            padding: 0;

            @include xs-down {
                display: inline;
            }

            li {
                display: inline-block;
                padding: 0 5px;

                a {
                    color: $grey;
                    position: relative;
                    z-index: 1;

                    &:after {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $grey;
                    }
                }
            }
        }

        .quote {
            font-size: 1.4rem;
            line-height: 1.5;
        }

        .text+.quote {
            margin-top: 100px;

            @include md-down {
                margin-top: 40px;
            }
        }
    }

    .editorial__box-picture {
        flex: 0 0 calc(#{$col-width-5} + #{$col-gutter});
        max-width: calc(#{$col-width-5} + #{$col-gutter});

        @include md-down {
            flex: 0 0 70%;
            max-width: 70%;
            padding-right: $col-gutter;
            padding-left: $col-gutter;
            margin: 0 auto;
            order: 1;
        }

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

// 2col-text-sidebar
.editorial__2col-text-sidebar {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .editorial__primary {
        flex: 0 0 $col-width-5;
        max-width: $col-width-5;
        margin-right: $col-width-2;

        @include md-down {
            flex: 0 0 $col-width-6;
            max-width: $col-width-6;
            margin-right: $col-width;
        }

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .editorial__secondary {
        flex: 0 0 $col-width-3;
        max-width: $col-width-3;

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .h3 {
            margin-bottom: 25px;
        }

        .box {
            margin-bottom: 100px;

            @include xs-down {
                margin-bottom: 40px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// 1col-slider-carousel
.editorial__1col-slider-carousel {

    .box--title {
        text-align: center;

        @include sm-down {
            text-align: center;
        }

        .h2 {
            @include xs-down {
                font-size: 1.8rem;
            }
        }
    }
}

// 2col-text-slider
.editorial__2col-text-slider {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .editorial__box-text {
            flex: 0 0 $col-width-3;
            max-width: $col-width-3;
            margin-right: $col-width;
            margin-left: $col-width;

            @include md-down {
                flex: 0 0 $col-width-5;
                max-width: $col-width-5;
            }

            @include sm-down {
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0;
                margin-bottom: 40px;
                padding: 0 $col-width;
            }

            .box {
                .h4 {
                    margin-bottom: 45px;
                }
            }
        }

        .editorial__box-slider {
            flex: 0 0 $col-width-7;
            max-width: $col-width-7;

            @include md-down {
                flex: 0 0 $col-width-5;
                max-width: $col-width-5;
            }

            @include sm-down {
                flex: 0 0 100%;
                max-width: 100%;
                margin-right: $col-width;
                margin-left: $col-width;
            }
        }
    }
}

.editorial__2col-text-slider--switch {
    @extend .editorial__2col-text-slider;

    .editorial__box-text {
        order: 2;

        @include sm-down {
            order: 1;
        }
    }

    .editorial__box-slider {
        order: 1;

        @include sm-down {
            order: 2;
        }
    }
}

// 1col-mid-text
.editorial__1col-mid-text {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.6;

    .box {
        margin-bottom: 63px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .eyelet {
        text-transform: uppercase;
        @include font($style:heavy);
        font-size: 0.9rem;
        margin-bottom: 22px;
    }

    .h4 {
        color: $grey;
        margin-top: 100px;
        margin-bottom: 40px;
        font-size: 1.7rem;
        line-height: 1.6;

        &:first-child {
            margin-top: 0;
        }

        @include lg-down {
            font-size: 1.5rem;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        @include md-down {
            margin-top: 30px;
            font-size: 1.4rem;
        }

        @include sm-down {
            font-size: 1.2rem;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    p {
        font-size: 1.28rem;
        line-height: 1.6;

        @include lg-down {
            font-size: $font-size-lg;
        }

        @include md-down {
            font-size: $font-size-md;
        }

        @include sm-down {
            font-size: $font-size-sm;
        }
    }
}

// 1col-mid-text--centered
.editorial__1col-mid-text--centered {
    @extend .editorial__1col-mid-text;
    text-align: center;
}

// 1col-mid-text--lines
.editorial__1col-mid-text--lines {
    @extend .editorial__1col-mid-text;

    .box {
        padding-bottom: 39px;
        margin-bottom: 68px;
        position: relative;
        z-index: 1;

        @include xs-down {
            padding-bottom: 20px;
            margin-bottom: 40px;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $dark;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

// 1col-img-lateral-caption
.editorial__1col-img-lateral-caption {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;

        @include md-down {
            justify-content: flex-end;
        }

    }

    .editorial__box-picture {
        flex: 0 0 calc(#{$col-width-8} + #{$col-gutter});
        max-width: calc(#{$col-width-8} + #{$col-gutter});

        @include md-down {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .picture {
            @include aspect-clip(1920, 1200, 0.15);

            // @include sm-down {
            //     @include aspect-clip(1920, 1200, 0.15);
            // }

            @include xs-down {
                @include aspect-clip(3, 4, 0.15);
            }
        }
    }

    .editorial__caption {
        flex: 0 0 $col-width-2;
        max-width: $col-width-2;
        margin-left: $col-gutter;
        margin-bottom: $col-gutter;

        @include md-down {
            flex: 0 0 60%;
            max-width: 60%;
            margin: 20px 0 0;
        }

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .box {
            line-height: 1.2;
            font-size: 0.8rem;

            @include md-down {
                text-align: right;
            }
        }

        .text+.cta {
            margin-top: 30px;

            @include md-down {
                margin-top: 10px;
            }
        }

        .btn--inline {
            text-transform: uppercase;
            font-size: 0.9rem;

            @include md-down {
                display: inline-block;
            }
        }
    }
}

// 1col-img-lateral-caption--switch 
.editorial__1col-img-lateral-caption--switch {
    @extend .editorial__1col-img-lateral-caption;

    .editorial__box-picture {
        order: 2;

        @include md-down {
            order: 1;
        }
    }

    .editorial__caption {
        text-align: right;
        margin-left: 0;
        margin-right: $col-gutter;
        order: 1;

        @include md-down {
            margin: 20px 0 0;
            order: 2;
        }
    }
}

//editorial__1col-related
.editorial__1col-related {

    .editorial__wrapper {
        position: relative;
        z-index: 1;
    }

    .editorial__box-text {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $white;
        text-transform: uppercase;

        .h4 {
            font-size: 3rem;
            margin-bottom: 15px;

            @include lg-down {
                font-size: 2.3rem;
                margin-bottom: 0;
            }

            @include md-down {
                font-size: 2rem;
            }

            @include xs-down {
                font-size: 1.4rem;
            }
        }

        .text {
            @include font($style:medium);
            font-size: 0.9rem;
        }
    }

    .editorial__box-picture {
        .picture {
            @include aspect-clip(16, 6);
            transform: scale(1, 1);

            .picture__container {
                transform: scale(1, 1);
            }

            @include sm-down {
                @include aspect-clip(1, 1);
            }
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

// 1col full img caption
.editorial__1col-full-img-caption {

    .editorial__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .editorial__box-picture {
        flex: 0 0 100%;
        max-width: 100%;

        .picture {
            @include aspect-clip(1920, 1200, 0.15);

            // @include sm-down {
            //     @include aspect-clip(16, 10, 0.15);
            // }

            @include xs-down {
                @include aspect-clip(3, 4, 0.15);
            }
        }
    }

    .editorial__caption {
        flex: 0 0 60%;
        max-width: 60%;
        margin: 20px 0 0;

        @include xs-down {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .box {
            line-height: 1.2;
            font-size: 0.8rem;
            text-align: right;
        }

        .text+.cta {
            margin-top: 30px;

            @include md-down {
                margin-top: 10px;
            }
        }

        .btn--inline {
            text-transform: uppercase;
            font-size: 0.9rem;

            @include md-down {
                display: inline-block;
            }
        }
    }
}

// 1col full img caption centered
.editorial__1col-full-img-caption--centered {

    .editorial__caption {
        margin-top: 24px;
        text-align: center;
    }

    .picture {
        @include aspect-clip(16, 8);

        @include sm-down {
            @include aspect-clip(16, 10);
        }

        @include xs-down {
            @include aspect-clip(3, 4);
        }
    }
}

// 1col-full-img-caption--left
.editorial__1col-full-img-caption--left {
    @extend .editorial__1col-full-img-caption--centered;

    .editorial__caption {
        text-align: left;
    }
}

// 1col full img caption centered
.editorial__1col-full-overlay-title {

    .editorial__box-picture {
        position: relative;
        z-index: 1;
    }

    .box {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: $white;

        .h2 {

            @include xs-down {
                font-size: 1.3rem;
            }
        }

        .text {
            font-size: 1.15rem;

            @include xs-down {
                font-size: 1rem;
            }
        }
    }

    .picture {
        @include aspect-clip(16, 8, 0.15);

        @include sm-down {
            @include aspect-clip(16, 10, 0.15);
        }

        @include xs-down {
            @include aspect-clip(3, 4, 0.15);
        }
    }

    .box .h2+.text,
    .box .h2+.box__appear {
        margin-top: 10px;
    }

    .picture+.box {
        margin-top: 0;
        width: 100%;
        padding: 0 30px 60px 30px;

        @include sm-down {
            padding: 0 15px 20px 15px;
        }
    }
}


//1col-full-video
.editorial__1col-full-video {

    .video {
        position: relative;
        padding-top: 56.25%;
    }
}