.elements {
    padding: 118px 0 80px 0;
    margin-bottom: 120px;
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;

    @include md-down {
        margin-bottom: 100px;
    }

    @include sm-down {
        margin-bottom: 80px;
    }

    .box--title {
        text-align: center !important;
    }
}