.header {
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: white;

    @include sm-down {
        height: $header-height-mobile;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $dark;

        @include sm-down {
            z-index: 0;
        }
    }

    &>.container--big {
        height: 100%;

        @include sm-down {
            position: relative;
            z-index: 1;
        }
    }
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        height: 25px;

        @include sm-down {
            height: 18px;
        }
    }
}

.header__search {
    position: absolute;
    z-index: 2;
    top: calc(#{$header-height} - 2px);
    left: 0;
    width: 100vw;
    height: 0;
    margin: 0 auto;
    padding: 0 $col-gutter;
    background: #f7f7f7;
    overflow: hidden;
    transition: all .5s $smooth;
    box-shadow: inset 0px 0px 34px -23px rgba(0, 0, 0, 0.32);

    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        background: $dark;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: height .5s $smooth;
    }

    @include sm-down {
        position: relative;
        top: 0;
        z-index: 1;
        height: 53px;
        margin-bottom: 40px;
        background: $white;
        padding: 0;
        overflow: auto;
        box-shadow: none;

        &:after,
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #cdcdcd;
            width: 100%;
            height: 2px;
            left: 0;
            transition: none;
        }

        &:after {
            top: 0;
        }

        &:before {
            bottom: 0;
        }
    }

    .header__search-btn {
        display: none;

        @include sm-down {
            display: block;
        }
    }

    .header__search-close {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: $col-gutter;
        transform: translateY(-50%);

        @include sm-down {
            display: none;
        }

        svg {
            fill: $dark;
            width: 16px;
            height: 16px;
        }
    }

    @include sm-down {
        svg.header__search-btn {
            position: absolute;
            z-index: 0;
            pointer-events: none;
            top: 50%;
            right: $col-gutter;
            width: 15px;
            height: 100%;
            transform: translateY(-50%);
            fill: #cccccc;
        }
    }

    input {
        border: 0;
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        padding: 10px 80px 10px 0;
        background: transparent;

        @include sm-down {
            font-size: 1rem;
            background: white;
            padding: 10px 50px 10px 20px;
        }
    }
}


//nav mobile
@include sm-down {
    header.header {
        position: fixed;
        z-index: 1;

        .header__wrapper {
            display: block;
            position: fixed;
            top: calc(#{$header-height-mobile} - 2px);
            left: 0;
            background: $white;
            pointer-events: none;
            width: 100%;
            height: 0;
            transition: all 1000ms cubic-bezier(0, 0.97, 0.43, 1);
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $dark;
            }
        }
    }
}

//animation
body.search-bar-open {
    .header__search {
        height: $header-height;
    }
}

body.fixed {
    .header {
        top: -$header-height;
        position: fixed;
    }
}

body.fancy-page {
    .header {
        top: -$header-height !important;
        transition: none;
    }

    // .page {
    //     min-height: auto;
    // }

    main {
        padding-top: 0;
    }
}