.listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include sm-down {
        display: block;
    }

    &--fullwidth {

        &>a,
        &>div {
            display: block;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 calc(#{$col-gutter} / 2);
            margin-bottom: $col-gutter;

            @include sm-down {
                padding: 0;
                max-width: none;
                margin-bottom: $col-gutter;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .picture {

                &:hover {

                    .picture__primary {

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &--grid-2 {

        &>a,
        &>div {
            display: block;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 calc(#{$col-gutter} / 2);
            margin-bottom: $col-gutter;

            @include sm-down {
                padding: 0;
                max-width: none;
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .listing__item--double {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &--grid-3 {

        &>a,
        &>div {
            display: block;
            flex: 0 0 33.333%;
            max-width: 33.333%;
            padding: 0 calc(#{$col-gutter} / 2);
            margin-bottom: $col-gutter;

            @include sm-down {
                padding: 0;
                max-width: none;
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .listing__item--double {
            flex: 0 0 66.666%;
            max-width: 66.666%;
        }
    }

    .picture+.box {
        margin-top: 40px;

        @include sm-down {
            margin-top: 10px;
        }
    }

    &>a,
    &>div {

        .picture {

            .picture__primary {
                opacity: 1;
                transition: opacity .3s $smooth;
                z-index: 2;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 2;
            }

            .picture__secondary {
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;
            }

            &:hover {

                .picture__primary {
                    opacity: 0;
                }
            }
        }
    }
}

.archive {
    margin-top: $col-gutter;
    margin-bottom: $col-gutter;
    transition: padding-top .8s $smooth;

    .container--big {
        max-width: calc(100% - #{$col-gutter});

        @include sm-down {
            max-width: calc(100% - #{$col-width});
        }
    }
}

.archive--grid {
    margin-top: $col-gutter;
    margin-bottom: $col-gutter;
    transition: none;
}

.archive--squared {
    
    @include sm-down {
        margin-bottom: $col-width-2;
    }

    .listing__item {
        text-align: center;

        .h2 {
            font-size: 2.2rem;

            @include md-down {
                font-size: 1.8rem;
            }

            @include xs-down {
                font-size: 1.6rem;
            }
        }

        .picture {
            padding-top: 100%;
            background: $white;
        }
    }
}

.cover + .archive--squared {
    margin-top: 0;
}